# Tradier API (Production - For WebSocket connection)
TRADIER_ACCESS_TOKEN=wDp7ad3HAPeLCYPnjmzU6dQFM9kh

# Gatekeeper (Cloudflare)
GATEKEEPER_URL=https://gekko3-core.kevin-mcgovern.workers.dev
API_SECRET=0d03cc45af09744228164da6003b865883598cdd6fc85065672a51eba31c718f

